body {
  background-color: #2e2e2e;
  color: #e2e2e2;
}

.product-logo {
  width: 100%;
  height: 28vh;
  border: 1px solid orange;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: 1s;
}

.card-body {
  height: 63vh;
}
.product-img {
  width: 100%;
  height: 40vh;
}
.product-body {
  padding: 2%;
}
