<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add person</title>
</head>
<body>
    <form action="/add" method="POST">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Name" />
        <br>
        <label for="">Age</label>
        <input type="number" name="age" placeholder="Age" />
        <br>
        <input type="submit" value="Add" />
    </form>
</body>
</html>