<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Upload file</h2>

    <div>
        <label for="nameInp">Name</label>
        <input id="nameInp" type="text">
    </div>
    <div>
        <label for="categorySelect">category</label>
        <select id="categorySelect">
            <option value="nature" selected>nature</option>
            <option value="people">people</option>
            <option value="animals">animals</option>
            <option value="food">food</option>
            <option value="tech">tech</option>
        </select>
    </div>
    <div>
        <label for="descriptionTextArea">Description</label>
        <textarea id="descriptionTextArea" ></textarea>
    <div>
        <label for="fileInp">image</label>
        <input id="fileInp" type="file" accept="image/png, image/jpg, image/gif, image/jpeg">
    </div>
    <button id="submitBtn">submit</button>


    <script>
        // get elements from DOM
        const nameInp = document.getElementById('nameInp');
        const categorySelect = document.getElementById('categorySelect');
        const descriptionTextArea = document.getElementById('descriptionTextArea');
        const fileInp = document.getElementById('fileInp');
        const submitBtn = document.getElementById('submitBtn');

        submitBtn.addEventListener('click', async (e) => {
            // build formdata object to be sent to server side
            const formData = new FormData();
            formData.append('name', nameInp.value);
            formData.append('category', categorySelect.value);
            formData.append('description', descriptionTextArea.value);
            formData.append('file', fileInp.files[0]);

            // use fetch to send the data
            const response = await fetch('/savedata', {
                method: 'POST',
                body: formData
            });
            // check the response
            const result = await response.json()
            if (result === 'done') {
                // if ok, redirect to the index page
                alert('saving data is done')
            } else {
                // if not ok, show the error
                alert('error with saving data');
            }
            
        })
    </script>
</body>

</html>