<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Author</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar')%>
    
    <div class="container">
        <h1 class="text-center">Add Author</h1>
        <div class="col-md-6">
            <form action="/admin/addauthor" method="post" onsubmit="submitForm(event)">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" id="" placeholder="Name" class="form-control" required >
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" id="" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="">Country</label>
                    <input type="text" name="country" id="" class="form-control" placeholder="Country" required>
                </div>
                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" name="city" id="" class="form-control" placeholder="City" required>
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="number" name="phone" id="" class="form-control" placeholder="Phone">
                </div>
                <hr>
                <button type="submit" class="btn btn-success" >Send</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="spinner-border m-5 " style="display: none;"  id="loader" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
    </div>


    <%- include('partials/modal')%>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>